.title {
  text-align: center;
  padding: 6rem;
  color: #65817D;
  font-size: 3rem;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Montserrat;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.bg-image {
  background-image: url(../img/typewriter-801921_1920.png);
  height: 60vh;
  width: 100vw;
}
.container {
  width: 100%;
  margin-left: 20px;
}
.container .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-content: center;
}
.container .nav-bar .logo {
  width: 33%;
  margin: 2%;
}
.container .nav-bar nav {
  width: 33%;
  margin-top: 20px;
  margin-left: -26%;
}
.container .nav-bar nav a {
  margin-right: 35px;
  color: white;
  font-size: 2rem;
  font-family: Montserrat;
  text-decoration: none;
  text-shadow: 2px 2px #000000;
}
.container button {
  width: 10%;
  border-radius: 10%;
  height: 40px;
  background-color: lightseagreen;
  margin-top: 10px;
  margin-right: 2%;
  color: white;
  font-family: Montserrat;
  font-size: 1.7rem;
}
.container .header-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px #000000;
}
.container .header-info h1 {
  color: white;
  font-size: 4rem;
  font-family: Montserrat;
  padding: 1%;
  margin-left: -1.5%;
}
.container .header-info p {
  color: white;
  font-size: 3rem;
  font-family: Montserrat;
  margin-left: -1.5%;
}
.container .header-info .join-our-community {
  width: 25%;
  margin-top: 5%;
  margin-left: -1.5%;
  border-radius: 5%;
  background-color: lightseagreen;
  color: white;
  height: 50px;
  font-size: 2rem;
  font-family: Montserrat;
}
body .about {
  text-align: center;
  width: 100%;
}
body .about .icon1,
body .about .icon2,
body .about .icon3 {
  width: 33%;
  display: inline-block;
  vertical-align: bottom;
  line-height: 2.8rem;
}
body .about .join {
  margin-left: 22%;
}
body .about h1 {
  font-size: 3rem;
  padding: 5px;
  margin-top: 40px;
}
body .about p {
  font-size: 2rem;
  padding: 15px;
}
body .about .title {
  text-align: center;
  padding: 6rem;
  color: #65817D;
  font-size: 3rem;
}
body .plane1-background {
  position: absolute;
  margin-top: -100px;
  opacity: 20%;
  width: 100vw;
}
body .upload-content .upload-title {
  text-align: center;
  padding: 6rem;
  color: #65817D;
  font-size: 3rem;
}
body .upload-content .abroad-photos2 {
  display: none;
}
body .content-below-photos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 2rem;
  padding: 50px;
  text-align: center;
  line-height: 2.7rem;
}
body .join {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}
body .join .join-title {
  text-align: center;
  padding: 6rem;
  color: #65817D;
  font-size: 3rem;
}
body .join .people {
  width: 100vw;
  padding: 40px;
}
body .join h3 {
  text-align: center;
  font-size: 2rem;
  padding: 4rem;
  width: 70%;
  line-height: 2.7rem;
}
body .interest .interest-title {
  text-align: center;
  padding: 6rem;
  color: #65817D;
  font-size: 3rem;
}
body .interest .interest-images {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
body .interest .left-image {
  border-radius: 8px;
  border: 0.8px solid lightgray;
}
body .footer-image {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body .footer-image .paper-airplane {
  position: absolute;
  padding: 30px;
  opacity: 20%;
  width: 90%;
  margin-top: 7%;
}
body .footer-image button {
  height: 7rem;
  width: 30rem;
  border-radius: 4px;
  background-color: #16BAC5;
  font-size: 2.5rem;
  color: #EFE9F4;
  margin-top: 252px;
}
body .bottom-nav {
  display: absolute;
  text-align: right;
  margin-top: 280px;
  background-color: #EDFCFD;
  padding: 40px;
}
body .bottom-nav a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  padding: 20px;
}
@media (max-width: 500px) {
  body .about {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .about .icon {
    display: none;
    margin-left: 250px;
  }
  body .about .icon1,
  body .about .icon2,
  body .about .icon3 {
    margin-left: 150px;
    margin-top: 50px;
    width: 40vw;
  }
  body .about .join {
    margin-left: 0%;
  }
  body .about p {
    color: #65817D;
  }
  body .plane1-background {
    margin-top: -650px;
    opacity: 10;
  }
  body .upload-content {
    margin-top: 190px;
    text-align: center;
  }
  body .upload-content .abroad-photos1 {
    display: none;
  }
  body .upload-content .abroad-photos2 {
    display: inherit;
    display: inline-block;
  }
  body .content-below-photos {
    display: none;
  }
  body .join .people {
    padding: 2px;
  }
  body .join h3 {
    width: 100vw;
  }
  body .interest .middle-image,
  body .interest .right-image {
    display: none;
  }
  body .footer-image .paper-airplane {
    margin-top: 20%;
  }
  body .footer-image button {
    margin-top: 50px;
  }
  body .bottom-nav {
    text-align: center;
  }
  body .bottom-nav a {
    width: 100%;
    padding: 15px;
  }
}
